<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.citesoft.epis.attendancetracking">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.login.Prueba">

        </activity>
        <activity android:name=".activities.login.LoginActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <receiver
            android:name="com.citesoft.epis.attendancetracking.BroadcastRecievers.BroadcastRecieverCloseNotification"
            android:enabled="true" />

        <receiver
            android:name="com.citesoft.epis.attendancetracking.BroadcastRecievers.BroadcastRecieverProgramNotitication"
            android:enabled="true" />
    </application>

</manifest>